#navbarLogo:hover {
    filter: brightness(0) invert(1);
    transition: filter 200ms ease;
}

#navbarLogo {
    transition: filter 200ms ease;
}

#navbar-list {
    margin-bottom: -10px;
    margin-top: -20px;
}

#footerText {
    font-size: 10px;
}

#footerNav {
    padding: 1px;
    margin: 1px;
}

.event-list {
    list-style: circle;
}
.event-list li a {
    color: #806656;
}

.event-list li a:hover{
    color: #201e50;
}
body {
    padding-top : 70px;
    padding-bottom: 50px;
}
#smallerNavbar {
    margin-top : 70px;
    /* z-index: -998; */
}