// Custom Color Variables

$primary: #b38f78;
$body-bg: #ffe8db;
$body-color: #201e50;
$navbar-light-color: #201e50;
// $bg-light: #f00;
$navbar-light-hover-color: #ffffff;
$component-active-bg:#201e50;
$input-border-color:#b38f78;

$font-family-base: "Playfair Display SemiBold";

// import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';