<%- include('./partials/header.ejs') %>

    <!-- START BODY CONTENT -->

    <div class="container-fluid m-5">
        <h1 class="mb-3">About this Site</h1>
        <p>Café Convene is a website created by Nathan Laney for the Network-Based Application Development course at the University of North Carolina at Charlotte.</p>
        <p> This application is a proof-of-concept website in which someone can organize and view events about Coffee in Charlotte.</p>
    </div>

    <!-- END BODY CONTENT -->
<%- include('./partials/footer.ejs') %>