<%- include('./partials/header.ejs') %>

    <!-- START BODY CONTENT -->

    <div class="container-fluid m-5">
        <h1 class="mb-3">Contact Us</h1>
        <p>To contact an administrator, email <a href="#">nlaney1@uncc.edu</a> with your query.</p>
    </div>

    <!-- END BODY CONTENT -->
<%- include('./partials/footer.ejs') %>