<%- include('./partials/header.ejs') %>

    <!-- START BODY CONTENT -->

    <div class="container-fluid m-5">
        <h1 class="mb-3">Welcome</h1>
        <p>Café Convene is the premiere place to find out about <strong>coffee events in your area.</strong></p>
        <p>Check out the <a href="events.html">Events</a> page to see what's in your area. Check out the <a href="newEvent.html">New Event</a> page to advertise your event. </p>
    </div>

    <!-- END BODY CONTENT -->
<%- include('./partials/footer.ejs') %>