<%- include('../partials/header.ejs') %>

    <!-- START BODY CONTENT -->

    <div class="container m-5">
        <h1 class="mb-3"><strong>FORM VS FUNCTION</strong></h1>
        <h3><strong>HEX ROASTERS</strong></h3>
        <h6>info@hex.coffee</h6>
        <!-- 
        event name,
        event details,
        event type, 
        location,
        email, 
        start and end date and times, 
        -->
    </div>
    <div class="container m-5">
        <div class="row">
            <div class="col-4">
                <img src="./static/hex-form.png" alt="Bag of coffee" class="img-fluid img-thumbnail">
            </div>
            <div class="col-8">
                <p>FORM is an expression of structure and formation -- an experiment in taking differing elements to create a
                    new complementary arrangement with new purpose, while retaining the elegance and complexity of the starting
                    pieces. <br>
                    Our approach is to focus on simplicity. Remove the unnecessary and let the details work together to create
                    the patchwork. <br>
                    As coffee leaves and new coffee becomes available, this coffee will also constantly be changing. But it will
                    always be simple, yet complex. It will always be inviting, yet deep. It will always be strong, yet elegant.
                </p>
                <p>The perfect complimentary piece to our portfolio staple “FORM”, “FUNCTION” serves as the other side of that
                    coin. As FORM will constantly be in flux, dancing with the seasons, FUNCTION will stand strong in its
                    permanence -- allowing you to know exactly what you’ll be getting every time.<br>
                    Within the parameters of seasonality and coffee, the components of FUNCTION will also change -- allowing
                    this coffee to stay fresh year round, but “Form follows Function,” and each component will be replaced by a
                    fresh harvest coffee that will play the same role in the blend.<br>
                    Expect a rich, decadent chocolate base, further deepened by baking spices, with warm fruit tones and a
                    lasting sweetness.</p>
                <p>This is an opportunity to try them, side by side. See how the two roasts compliment and contrast each other,
                    in one room in one day. </p>
            </div>
        </div>
    </div>
    <div class="container m-5"><p class="mb-0"><strong>Event Type:</strong> Coffee Tasting</p>
        <p class="mb-0"><strong>Location:</strong> 1824 Statesville Ave. 101, Charlotte, NC 28206 </p>
        <p class="mb-0"><strong>Event Start:</strong> 3pm, January 27, 2023</p>
        <p class="mb-0"><strong>Event End:</strong> 5pm, January 27, 2023</p>
    </div>
    <form>
    <div class="container m-5 mt-2">
        <input class="btn btn-primary mt-3 text-right" type="button" value="Edit Event">
        <input class="btn btn-primary mt-3 text-right" type="button" value="Delete Event">
    </div>
</form>

    <!-- END BODY CONTENT -->
<%- include('../partials/footer.ejs') %>