<%- include('../partials/header.ejs') %>

    <!-- START BODY CONTENT -->

    <!--        EVENT TYPES
    <option selected disabled>Select an Event Type</option>
    <option value="1">Coffee Tasting</option>
    <option value="2">Latte Art Masterclass</option>
    <option value="3">New Roast Launch</option>
    <option value="4">New Cafe Opening</option>
    <option value="5">Sale</option>
    <option value="99">Other</option> 
    -->

    <div class="container-fluid m-5">
        <h1 class="mb-3">Events Available</h1>

        <h3>Coffee Tasting</h3>
        <ul class="event-list">
            <li><a href="./event.html">Smelly Cat Roasteries Tasting Demo</a></li>
            <li><a href="./event.html">FORM VS FUNCTION - HEX ROASTERS</a></li>
            <li><a href="./event.html">Single-Origin vs. Blend, hosted by Night Swim Coffee</a></li>
        </ul>
        <h3>Latte Art Masterclass</h3>
        <ul class="event-list">
            <li><a href="./event.html">Cappuchino Creations hosted by Community Matters</a></li>
            <li><a href="./event.html">Behind the Scenes with Amelie's</a></li>
            <li><a href="./event.html">Learning Lattes at Not Just Coffee</a></li>
        </ul>
    </div>

    <!-- END BODY CONTENT -->
<%- include('../partials/footer.ejs') %>