<%- include('../partials/header.ejs') %>

    <!-- START BODY CONTENT -->
    <div class="container m-5">
        <form action='/events' method="POST" enctype="multipart/form-data">
            <!-- Title infobox -->
            <div class="form-group pb-2">
                <label for="title">Event Name:</label>
                <textarea class="form-control" id="title" name="title" rows="1" required></textarea>
            </div>
            <!-- Details infobox -->
            <div class="form-group pb-2">
                <label for="details">Event Details:</label>
                <textarea class="form-control" id="details" name="details" rows="3" required></textarea>
            </div>
            <!-- Dropdown -->
            <div class="form-group pb-2">
                <label for="category">Event Type:</label>
                <select class="form-control" id="category" name="category" required enum>
                    <option selected disabled>Select an Event Type</option>
                    <option value="Coffee Tasting">Coffee Tasting</option>
                    <option value="Latte Art Masterclass">Latte Art Masterclass</option>
                    <option value="New Roast Launch">New Roast Launch</option>
                    <option value="New Cafe Opening">New Cafe Opening</option>
                    <option value="Sale">Sale</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group pb-2">
                <label for="location">Location:</label>
                <textarea class="form-control" id="location" name="location" rows="1" required></textarea>
            </div>
            <div class="form-group pb-2">
                <label for="start_datetime">Event Start:</label>
                <input class="form-control" type="datetime-local" id="start_datetime" name="start_datetime" required>
            </div>
            <div class="form-group pb-2">
                <label for="end_datetime">Event End:</label>
                <input class="form-control" type="datetime-local" id="end_datetime" name="end_datetime" required>
            </div>
            <div class="form-group pb-2">
                <label for="image">Select Image:</label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*" required>
            </div>
            <input class="btn btn-primary mt-3 text-right" type="submit" value="Submit">
        </form>
    </div>
    
    <!-- END BODY CONTENT -->
<%- include('../partials/footer.ejs') %>
